*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-family: 'AC', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #1C1921;
  font-size: 45%;
  overflow-x: hidden; }
  @media (max-width: 75em) {
    html {
      font-size: 40%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 37.5%; } }

body, html {
  overflow-x: hidden;
  scroll-behavior: smooth; }

a {
  text-decoration: none;
  color: inherit; }

._1clBS3JPSJSE2fKCC_gxuX {
  background: #2D2A32;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
  width: 640px;
  margin: 4.25em auto 10em auto;
  padding: 50px; }
  @media (max-width: 56.25em) {
    ._1clBS3JPSJSE2fKCC_gxuX {
      width: 90%;
      padding: 10% 3%;
      margin: 1% auto 5% auto; } }

